CONFIG_ARM=y
CONFIG_SYS_ARCH_TIMER=y
CONFIG_ARM_SMCCC=y
CONFIG_ARCH_SSTAR=y
CONFIG_SYS_TEXT_BASE=0x23E00000
CONFIG_NR_DRAM_BANKS=1
CONFIG_ENV_SIZE=0x1000
CONFIG_ENV_OFFSET=0x0
CONFIG_ENV_SECT_SIZE=0x1000
CONFIG_DM_GPIO=y
CONFIG_DEFAULT_DEVICE_TREE="iford"
# CONFIG_SSTAR_DISABLE_CODE_RELOC is not set
# CONFIG_SYS_MALLOC_F is not set
# CONFIG_EXPERT is not set
CONFIG_BOOTDELAY=0
# CONFIG_CMD_BDI is not set
# CONFIG_CMD_CONSOLE is not set
# CONFIG_CMD_BOOTD is not set
CONFIG_BOOTM_SS_RTOS=y
CONFIG_BOOTM_LINUX_NS=y
# CONFIG_BOOTM_NETBSD is not set
# CONFIG_BOOTM_PLAN9 is not set
# CONFIG_BOOTM_RTEMS is not set
# CONFIG_BOOTM_VXWORKS is not set
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_FDT is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_XIMG is not set
# CONFIG_CMD_FLASH is not set
CONFIG_CMD_GPIO=y
CONFIG_CMD_PWM=y
# CONFIG_CMD_LOADB is not set
# CONFIG_CMD_LOADS is not set
CONFIG_CMD_WDT=y
# CONFIG_CMD_ECHO is not set
# CONFIG_CMD_ITEST is not set
# CONFIG_CMD_SOURCE is not set
# CONFIG_CMD_SETEXPR is not set
CONFIG_CMD_DHCP=y
# CONFIG_CMD_NFS is not set
CONFIG_CMD_MDIO=y
CONFIG_CMD_PING=y
CONFIG_CMD_CACHE=y
# CONFIG_CMD_DATE is not set
CONFIG_MP=y
CONFIG_CMD_MTDPARTS=y
CONFIG_CMD_SSTAR_ESTAR=y
CONFIG_CMD_SSTAR_RIU=y
CONFIG_CMD_SSTAR_DEBUG=y
CONFIG_CMD_SSTAR_MMC=y
CONFIG_CMD_SSTAR_MMC_FDISK=y
CONFIG_CMD_SSTAR_UFU=y
CONFIG_CMD_SSTAR_LOADOS=y
CONFIG_CMD_SSTAR_CPUWAIT=y
CONFIG_PARTITION_UUIDS=y
CONFIG_OF_CONTROL=y
CONFIG_ENV_IS_IN_SPI_FLASH=y
CONFIG_DM=y
CONFIG_DM_I2C=y
CONFIG_MTD=y
CONFIG_MTD_NOR_FLASH=y
CONFIG_PHYLIB=y
CONFIG_PHY_GIGE=y
CONFIG_PHY=y
CONFIG_DM_PWM=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_USB=y
CONFIG_WATCHDOG_TIMEOUT_MSECS=2000
CONFIG_WDT=y
CONFIG_SSTAR_DRIVERS=y
CONFIG_SSTAR_CLK=y
CONFIG_SSTAR_PADMUX=y
CONFIG_SSTAR_EMAC=y
CONFIG_SSTAR_XZDEC=y
CONFIG_SSTAR_FSP_QSPI=y
CONFIG_SSTAR_FLASH=y
CONFIG_SSTAR_NOR=y
CONFIG_SSTAR_RTC=y
CONFIG_XZ=y
CONFIG_MZ=y
CONFIG_LZMA=y
# CONFIG_EFI_LOADER is not set
# CONFIG_TOOLS_LIBCRYPTO is not set
