CONFIG_ARM=y
# CONFIG_STATIC_RELA is not set
CONFIG_SYS_ARM_MMU=y
# CONFIG_SYS_ARCH_TIMER is not set
CONFIG_ARCH_SSTAR=y
CONFIG_SYS_TEXT_BASE=0x27E00000
CONFIG_NR_DRAM_BANKS=1
CONFIG_ENV_SIZE=0x1000
CONFIG_ENV_OFFSET=0x0
CONFIG_DM_GPIO=y
CONFIG_DEFAULT_DEVICE_TREE="pioneer5-ssc028a-s01a-s"
CONFIG_SSTAR_ARM64=y
CONFIG_SSTAR_KERNEL_ADDR_OFFSET=0xFE0000000
CONFIG_SSTAR_RAM_SIZE=0x08000000
CONFIG_SSTAR_USE_TOOLCHAIN_DEFAULT_FLOAT_ABI=y
# CONFIG_SYS_MALLOC_F is not set
# CONFIG_EXPERT is not set
CONFIG_BOOTDELAY=0
# CONFIG_CMD_BDI is not set
# CONFIG_CMD_CONSOLE is not set
# CONFIG_CMD_BOOTD is not set
# CONFIG_BOOTM_NETBSD is not set
# CONFIG_BOOTM_PLAN9 is not set
# CONFIG_BOOTM_RTEMS is not set
# CONFIG_BOOTM_VXWORKS is not set
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_FDT is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_XIMG is not set
# CONFIG_CMD_LZMADEC is not set
# CONFIG_CMD_UNLZ4 is not set
# CONFIG_CMD_UNZIP is not set
# CONFIG_CMD_FLASH is not set
CONFIG_CMD_GPIO=y
CONFIG_CMD_PWM=y
# CONFIG_CMD_LOADB is not set
# CONFIG_CMD_LOADS is not set
CONFIG_CMD_NAND=y
CONFIG_CMD_WDT=y
# CONFIG_CMD_ECHO is not set
# CONFIG_CMD_ITEST is not set
# CONFIG_CMD_SOURCE is not set
# CONFIG_CMD_SETEXPR is not set
CONFIG_CMD_DHCP=y
# CONFIG_CMD_NFS is not set
CONFIG_CMD_PING=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_MTDPARTS=y
CONFIG_CMD_UBI=y
CONFIG_CMD_SSTAR_ESTAR=y
CONFIG_CMD_SSTAR_RIU=y
CONFIG_CMD_SSTAR_DEBUG=y
CONFIG_CMD_SSTAR_MMC=y
CONFIG_CMD_SSTAR_MMC_FDISK=y
CONFIG_PARTITION_UUIDS=y
CONFIG_OF_CONTROL=y
CONFIG_ENV_IS_IN_NAND=y
CONFIG_DM=y
CONFIG_CLK=y
CONFIG_CLK_CCF=y
CONFIG_CLK_COMPOSITE_CCF=y
CONFIG_DM_I2C=y
CONFIG_MTD=y
CONFIG_MTD_RAW_NAND=y
CONFIG_PHY_SSTAR=y
CONFIG_DM_PWM=y
CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_USB=y
CONFIG_WATCHDOG_TIMEOUT_MSECS=2000
CONFIG_WDT=y
CONFIG_SSTAR_DRIVERS=y
CONFIG_SSTAR_PADMUX=y
CONFIG_SSTAR_GMAC=y
CONFIG_SSTAR_IMAGE_POSTFIX="_spinand"
CONFIG_SSTAR_FLASH=y
CONFIG_SSTAR_NAND=y
CONFIG_XZ=y
CONFIG_MZ=y
# CONFIG_EFI_LOADER is not set
