project/tools/clang-13/clang-check filter=lfs diff=lfs merge=lfs -text
project/release/chip/iford/sigma_common_libs/glibc/11.1.0/debug/static/libKWS_LINUX.a filter=lfs diff=lfs merge=lfs -text
/project/release/chip/iford/sigma_common_libs/uclibc/9.1.0/debug/static/libKWS_LINUX.a filter=lfs diff=lfs merge=lfs -text
