# this config is for emmc
# iplx + uboot = boot [mmcblk0boot1]
# env [mmcblk0]
# kernel [mmcblk0p1]
# rootfs ——> ext4 [mmcblk0p2]
# misc ——> fwfs [mmcblk0p3]
# miservice ——> ext4 [mmcblk0p4]
# customer ——> ext4 [mmcblk0p5]

# image info
IMAGE_LIST			=	boot kernel dtb dtbo rootfs misc miservice customer
ifneq ($(PM51_BIN), )
    BOOT_IMAGE_LIST		=	iplx uboot pm51
else
    BOOT_IMAGE_LIST		=	iplx uboot
endif
OTA_IMAGE_LIST			=	boot kernel misc miservice customer
USR_MOUNT_BLOCKS		=	misc miservice customer

# flash info
FLASH_TYPE			=	emmc
FLASH_BLK_SIZE			=	0x200
EMMC_SYSTEM_TYPE		=	single
EMMC_USER_PART			=	0
# about emmc backup boot.bin
ifeq ($(EMMC_BACKUPS), y)
    EMMC_PART_CONF		=	\$${partconf}
    EMMC_BOOT_PART		=	\$${boot_part}
else
    EMMC_PART_CONF		=	1
    EMMC_BOOT_PART		=	1
endif

# bootcmd
BOOTCMD_ENV			=	dcache on\; $(dtb$(BOOTCMD)) $(kernel$(BOOTCMD)) $(KERNEL_SIGN$(BOOTCMD)) booti $(KERNELBOOTADDR) - $(DTBBOOTADDR)\;

# ext info
ENV_CFG				=	/dev/mmcblk0 0x4F000 0x1000

# iplx
iplx$(RESOURCE)			=	$(PROJ_ROOT)/board/$(CHIP)/boot/$(FLASH_TYPE)/ipl/$(IPLX_CONFIG)
iplx$(DATASIZE)			=	$(call filesize, $(iplx$(RESOURCE)))

# uboot
uboot$(RESOURCE)		=	$(PROJ_ROOT)/board/uboot/$(UBOOT_BIN)
uboot$(DATASIZE)		=	$(call filesize, $(uboot$(RESOURCE)))

# pm51
pm51$(RESOURCE)			=	$(PROJ_ROOT)/board/$(CHIP)/pm51/$(PM51_BIN)
pm51$(DATASIZE)			=	$(call filesize, $(pm51$(RESOURCE)))

# boot
boot$(RESOURCE)			=	$(IMAGEDIR)/boot.bin
ifneq ($(PM51_BIN), )
    boot$(PATSIZE)		=	$(call alignup, $(call sum, $(iplx$(DATASIZE)) $(uboot$(DATASIZE)) $(pm51$(DATASIZE))),$(FLASH_BLK_SIZE))
else
    boot$(PATSIZE)		=	$(call alignup, $(call sum, $(iplx$(DATASIZE)) $(uboot$(DATASIZE))),$(FLASH_BLK_SIZE))
endif
boot$(OTABLK)			=	/dev/mmcblk0boot1

# env
env$(PATSIZE)			=	0x10000
env$(PATNAME)			=	env

# kernel
kernel$(RESOURCE)		=	$(PROJ_ROOT)/kbuild/$(KERNEL_VERSION)/arch/$(ARCH)/boot/$(KERNEL_BIN)
kernel$(DATASIZE)		=	0x2100000
kernel$(PATSIZE)		=	$(kernel$(DATASIZE))
kernel$(PATNAME)		=	kernel
kernel$(BOOTENV)		=	$(KERNEL_BOOT_ENV)
kernel$(BOOTCMD)		=	emmc read.p $(KERNELBOOTADDR) kernel $(kernel$(PATSIZE))\;
kernel$(OTABLK)			=	/dev/mmcblk0p1

# dtb
dtb$(RESOURCE)			=	$(PROJ_ROOT)/kbuild/$(KERNEL_VERSION)/arch/$(ARCH)/boot/dts/sstar/$(KERNEL_DTB_NAME)
dtb$(PATSIZE)			=	0x40000
dtb$(DATASIZE)			=	$(call filesize, $(dtb$(RESOURCE)))
dtb$(PATNAME)			=	dtb
dtb$(BOOTCMD)			=	emmc read.p $(DTBBOOTADDR) dtb $(dtb$(PATSIZE))\;
dtb$(OTABLK)			=	/dev/mmcblk0p2

# dtbo
dtbo$(RESOURCE)			=	$(PROJ_ROOT)/kbuild/$(KERNEL_VERSION)/dist/$(KERNEL_DTBO_NAME)
dtbo$(PATSIZE)			=	0x40000
dtbo$(PATNAME)			=	dtbo

# rootfs
rootfs$(RESOURCE)		=	$(OUTPUTDIR)/rootfs
rootfs$(FSTYPE)			=	ext4
rootfs$(PATSIZE)		=	0xC800000
rootfs$(DATASIZE)		=	0x1400000
rootfs$(PATNAME)		=	rootfs
rootfs$(BOOTENV)		=	console=ttyS0,115200 root=/dev/mmcblk0p4 rootwait rootfstype=ext4 rw init=/linuxrc

# misc
misc$(RESOURCE)			=	$(OUTPUTDIR)/misc
misc$(FSTYPE)			=	fwfs
misc$(PATSIZE)			=	0xA00000
misc$(PATNAME)			=	MISC
misc$(MOUNTTG)			=	/config
misc$(MOUNTPT)			=	/dev/mmcblk0p5
misc$(OTABLK)			=	/dev/mmcblk0p5

# miservice
miservice$(RESOURCE)		=	$(OUTPUTDIR)/miservice/config
miservice$(FSTYPE)		=	ext4
miservice$(PATSIZE)		=	0x12C00000
miservice$(DATASIZE)		=	0x1a00000
miservice$(PATNAME)		=	miservice
miservice$(MOUNTTG)		=	/config
miservice$(MOUNTPT)		=	/dev/mmcblk0p6
miservice$(OTABLK)		=	/dev/mmcblk0p6

# customer
customer$(RESOURCE)		=	$(OUTPUTDIR)/customer
customer$(FSTYPE)		=	ext4
customer$(PATSIZE)		=	0x81000000
customer$(DATASIZE)		=	0x3700000
customer$(PATNAME)		=	customer
customer$(MOUNTTG)		=	/customer
customer$(MOUNTPT)		=	/dev/mmcblk0p7
customer$(OTABLK)		=	/dev/mmcblk0p7
