# this config is for emmc
# iplx + uboot = boot [mmcblk0boot1]
# env [mmcblk0]
# kernel [mmcblk0p1/mmcblk0p2]
# rootfs ——> ext4 [mmcblk0p3/mmcblk0p4]
# misc ——> fwfs [mmcblk0p5]
# miservice ——> ext4 [mmcblk0p6/mmcblk0p7]
# customer ——> ext4 [mmcblk0p8/mmcblk0p9]

# image info
IMAGE_LIST			=	boot kernel rootfs misc miservice customer
BOOT_IMAGE_LIST			=	iplx uboot
OTA_IMAGE_LIST			=	boot kernel misc miservice customer
USR_MOUNT_BLOCKS		=	misc miservice customer

# flash info
FLASH_TYPE			=	emmc
FLASH_BLK_SIZE			=	0x200
EMMC_SYSTEM_TYPE		=	double
EMMC_USER_PART			=	0
# about emmc backup boot.bin
ifeq ($(EMMC_BACKUPS), y)
    EMMC_PART_CONF		=	\$${partconf}
    EMMC_BOOT_PART		=	\$${boot_part}
else
    EMMC_PART_CONF		=	1
    EMMC_BOOT_PART		=	1
endif

# bootcmd
BOOTCMD_ENV			=	dcache on\; $(kernel$(BOOTCMD)) $(KERNEL_SIGN$(BOOTCMD)) bootm $(KERNELBOOTADDR)\; dcache on\; $(kernel$(BOOTREC)) bootm $(KERNELBOOTADDR)\;

# ext info
ENV_CFG				=	/dev/mmcblk0 0x4F000 0x1000
RECOVERY_PAT_NAME		=	$(kernel$(PATNAME)) $(rootfs$(PATNAME)) $(miservice$(PATNAME))
RECOVERY_BLK_OFFSET		=	0x320
RECOVERY_KEY_PIN		=	10
RECOVERY_KEY_LEVEL		=	0

# iplx
iplx$(RESOURCE)			=	$(PROJ_ROOT)/board/$(CHIP)/boot/$(FLASH_TYPE)/ipl/IPLX_EMMC.bin
iplx$(DATASIZE)			=	$(call filesize, $(iplx$(RESOURCE)))

# uboot
uboot$(RESOURCE)		=	$(PROJ_ROOT)/board/uboot/$(UBOOT_BIN)
uboot$(DATASIZE)		=	$(call filesize, $(uboot$(RESOURCE)))

# boot
boot$(RESOURCE)			=	$(IMAGEDIR)/boot.bin
boot$(PATSIZE)			=	$(call alignup, $(call sum, $(iplx$(DATASIZE)) $(uboot$(DATASIZE))),$(FLASH_BLK_SIZE))
boot$(OTABLK)			=	/dev/mmcblk0boot1

# env

# kernel
kernel$(RESOURCE)		=	$(PROJ_ROOT)/kbuild/$(KERNEL_VERSION)/arch/$(ARCH)/boot/$(KERNEL_BIN)
kernel$(DATASIZE)		=	0xA00000
kernel$(PATSIZE)		=	$(kernel$(DATASIZE))
kernel$(PATNAME)		=	kernela kernelb
kernel$(BOOTENV)		=	$(KERNEL_BOOT_ENV)
kernel$(BOOTCMD)		=	emmc read.p $(KERNELBOOTADDR) kernela $(kernel$(PATSIZE))\;
kernel$(BOOTREC)		=	emmc read.p $(KERNELBOOTADDR) kernelb $(kernel$(PATSIZE))\;
kernel$(OTABLK)			=	/dev/mmcblk0p1 /dev/mmcblk0p2

# rootfs
rootfs$(RESOURCE)		=	$(OUTPUTDIR)/rootfs
rootfs$(FSTYPE)			=	ext4
rootfs$(PATSIZE)		=	0xC800000
rootfs$(DATASIZE)		=	0x1400000
rootfs$(PATNAME)		=	rootfsa rootfsb
rootfs$(BOOTENV)		=	console=ttyS0,115200 root=/dev/mmcblk0p3 rootwait rootfstype=ext4 rw init=/linuxrc

# misc
misc$(RESOURCE)			=	$(OUTPUTDIR)/misc
misc$(FSTYPE)			=	fwfs
misc$(PATSIZE)			=	0x50000
misc$(PATNAME)			=	MISC
misc$(MOUNTTG)			=	/config
misc$(MOUNTPT)			=	/dev/mmcblk0p5
misc$(OTABLK)			=	/dev/mmcblk0p5

# miservice
miservice$(RESOURCE)		=	$(OUTPUTDIR)/miservice/config
miservice$(FSTYPE)		=	ext4
miservice$(PATSIZE)		=	0x12C00000
miservice$(DATASIZE)		=	0x1400000
miservice$(PATNAME)		=	miservicea miserviceb
miservice$(MOUNTTG)		=	/config
miservice$(MOUNTPT)		=	/dev/mmcblk0p6
miservice$(OTABLK)		=	/dev/mmcblk0p6 /dev/mmcblk0p7

# customer
customer$(RESOURCE)		=	$(OUTPUTDIR)/customer
customer$(FSTYPE)		=	ext4
customer$(PATSIZE)		=	0x80000000
customer$(DATASIZE)		=	0x1600000
customer$(PATNAME)		=	customera customerb
customer$(MOUNTTG)		=	/customer
customer$(MOUNTPT)		=	/dev/mmcblk0p8
customer$(OTABLK)		=	/dev/mmcblk0p8 /dev/mmcblk0p9
