# this config is for chip bringup
# kernel
# rootfs ——> squashfs
# miservice ——> squashfs
# customer ——> jffs2

# image info
IMAGE_LIST			=	kernel rootfs miservice customer
USR_MOUNT_BLOCKS		=	miservice customer

# flash info
FLASH_TYPE			=	nor
FLASH_BLK_SIZE			=	0x10000
FLASH_BLK_CNT			=	512
FLASH_PG_SIZE			=	0x1000

# kernel
kernel$(RESOURCE)		=	$(PROJ_ROOT)/kbuild/$(KERNEL_VERSION)/arch/$(ARCH)/boot/$(KERNEL_BIN)
kernel$(DATASIZE)		=	0x3000000
kernel$(PATSIZE)		=	$(kernel$(DATASIZE))

# rootfs
rootfs$(RESOURCE)		=	$(OUTPUTDIR)/rootfs
rootfs$(FSTYPE)			=	squashfs
rootfs$(OPTIONS)		=	xz
rootfs$(PATSIZE)		=	0x400000

# miservice
miservice$(RESOURCE)		=	$(OUTPUTDIR)/miservice/config
miservice$(FSTYPE)		=	squashfs
miservice$(OPTIONS)		=	xz
miservice$(MOUNTTG)		=	/config
miservice$(MOUNTPT)		=	/dev/mtdblock1
miservice$(PATSIZE)		=	0x400000

# customer
customer$(RESOURCE)		=	$(OUTPUTDIR)/customer
customer$(FSTYPE)		=	jffs2
customer$(MOUNTTG)		=	/customer
customer$(MOUNTPT)		=	/dev/mtdblock2
customer$(PATSIZE)		=	0x2000000
