# this config is for nor
# ipl + cis + ipl_cust + uboot = boot [mtd0]
# env [mtd1]
# kernel [mtd2]
# rootfs ——> squashfs [mtd3]
# misc ——> fwfs [mtd4]
# miservice ——> squashfs [mtd5]
# customer ——> jffs2 [mtd6]

# image info
IMAGE_LIST			=	boot kernel rootfs misc miservice customer
BOOT_IMAGE_LIST			=	ipl cis ipl_cust optee tf_a uboot
OTA_IMAGE_LIST			=	boot kernel misc miservice customer
USR_MOUNT_BLOCKS		=	misc miservice customer

# flash info
FLASH_TYPE			=	nor
FLASH_BLK_SIZE			=	0x10000
FLASH_BLK_CNT			=	256
FLASH_PG_SIZE			=	0x1000

ifeq ($(UBOOT_VERSION), 201501)
MTDPARTS			=	"mtdparts=nor0:$(boot$(MTDPART)),$(cis$(SYSTAB))"
else
MTDPARTS			=	"nor0:$(boot$(MTDPART)),$(cis$(SYSTAB))"
endif

# bootcmd
BOOTCMD_ENV			=	dcache on\; sf probe 0\; $(kernel$(BOOTCMD)) $(KERNEL_SIGN$(BOOTCMD)) bootm $(KERNELBOOTADDR)\;

# ext info
ENV_CFG				=	/dev/mtd1 0x0 $(call get_env_size) $(env$(PATSIZE))

# cis
cis$(RESOURCE)			=	$(IMAGEDIR)/cis.bin
cis$(DATASIZE)			=	$(call max, $(call alignup, $(call filesize, $(cis$(RESOURCE))), $(FLASH_PG_SIZE)), 0xA000)
cis$(PATSIZE)			=	$(cis$(DATASIZE))
cis$(BOOTTAB0)			=	$(ipl$(MTDPART)),$(cis$(PATSIZE))(CIS),$(ipl_cust$(MTDPART)),$(optee$(PATSIZE))(OPTEE),$(tf_a$(PATSIZE))(TF_A),$(uboot$(MTDPART)),$(env$(PATSIZE))@$(boot$(PATSIZE))(ENV)
cis$(SYSTAB)			=	$(kernel$(MTDPART)),$(rootfs$(MTDPART)),$(misc$(MTDPART)),$(miservice$(MTDPART)),$(customer$(MTDPART))

# ipl
ipl$(RESOURCE)			=	$(PROJ_ROOT)/board/$(CHIP)/boot/$(FLASH_TYPE)/ipl/$(IPL_CONFIG)
ipl$(DATASIZE)			=	$(call alignup, $(call filesize, $(ipl$(RESOURCE))), $(FLASH_PG_SIZE))
ipl$(PATSIZE)			=	$(ipl$(DATASIZE))
ipl$(MTDPART)			=	$(ipl$(PATSIZE))(IPL)

# OPTEE
optee$(RESOURCE)		=	$(PROJ_ROOT)/board/$(CHIP)/boot/optee/$(OPTEE_CONFIG)
optee$(DATASIZE)		=	$(call alignup, $(call filesize, $(optee$(RESOURCE))), $(FLASH_PG_SIZE))
optee$(PATSIZE)			=	$(optee$(DATASIZE))
optee$(MTDPART)			=	$(optee$(PATSIZE))(OPTEE)

# TF-A
tf_a$(RESOURCE)			=	$(PROJ_ROOT)/board/$(CHIP)/boot/tf_a/$(TFA_CONFIG)
tf_a$(DATASIZE)			=	$(call alignup, $(call filesize, $(tf_a$(RESOURCE))), $(FLASH_PG_SIZE))
tf_a$(PATSIZE)			=	$(tf_a$(DATASIZE))
tf_a$(MTDPART)			=	$(tf_a$(PATSIZE))(TF_A)

# ipl_cust
ipl_cust$(RESOURCE)		=	$(PROJ_ROOT)/board/$(CHIP)/boot/$(FLASH_TYPE)/ipl/$(IPL_CUST_CONFIG)
ipl_cust$(DATASIZE)		=	$(call alignup, $(call filesize, $(ipl_cust$(RESOURCE))), $(FLASH_PG_SIZE))
ipl_cust$(PATSIZE)		=	$(ipl_cust$(DATASIZE))
ipl_cust$(MTDPART)		=	$(ipl_cust$(PATSIZE))(IPL_CUST)

# uboot
uboot$(RESOURCE)		=	$(PROJ_ROOT)/board/uboot/$(UBOOT_BIN)
uboot$(DATASIZE)		=	$(call alignup, $(call filesize, $(uboot$(RESOURCE))), $(FLASH_PG_SIZE))
uboot$(PATSIZE)			=	$(uboot$(DATASIZE))
uboot$(MTDPART)			=	$(uboot$(PATSIZE))(UBOOT)

# boot
boot$(RESOURCE)			=	$(IMAGEDIR)/boot.bin
boot$(DATASIZE)			=	$(call sum, $(ipl$(PATSIZE)) $(ipl_cust$(PATSIZE)) $(optee$(PATSIZE)) $(tf_a$(PATSIZE)) $(uboot$(PATSIZE)) $(cis$(PATSIZE)) $(env$(PATSIZE)))
boot$(PATSIZE)			=	$(shell printf 0x%X $(shell expr $(shell printf %d $(call alignup, $(boot$(DATASIZE)), $(FLASH_BLK_SIZE))) - $(shell printf %d $(env$(PATSIZE)))))
boot$(MTDPART)			=	$(boot$(PATSIZE))(BOOT),$(env$(MTDPART))
boot$(OTABLK)			=	/dev/mtd0

# env
env$(PATSIZE)			=	$(FLASH_PG_SIZE)
env$(MTDPART)			=	$(env$(PATSIZE))(ENV)

# kernel
kernel$(RESOURCE)		=	$(PROJ_ROOT)/kbuild/$(KERNEL_VERSION)/arch/$(ARCH)/boot/$(KERNEL_BIN)
kernel$(DATASIZE)		=	0x340000
kernel$(PATSIZE)		=	$(kernel$(DATASIZE))
kernel$(PATNAME)		=	KERNEL
kernel$(BOOTENV)		=	$(KERNEL_BOOT_ENV)
kernel$(BOOTCMD)		=	loados nor $(KERNELBOOTADDR) KERNEL by_header\;
kernel$(MTDPART)		=	$(kernel$(PATSIZE))(KERNEL)
kernel$(OTABLK)			=	/dev/mtd2

# rootfs
rootfs$(RESOURCE)		=	$(OUTPUTDIR)/rootfs
rootfs$(FSTYPE)			=	squashfs
rootfs$(OPTIONS)		=	xz
rootfs$(PATSIZE)		=	0x270000
rootfs$(BOOTENV)		=	console=ttyS0,115200n8r root=/dev/mtdblock3 ro init=/linuxrc
rootfs$(MTDPART)		=	$(rootfs$(PATSIZE))(rootfs)

# misc
misc$(RESOURCE)			=	$(OUTPUTDIR)/misc
misc$(FSTYPE)			=	fwfs
misc$(PATSIZE)			=	0x50000
misc$(PATNAME)			=	MISC
misc$(MOUNTTG)			=	/misc
misc$(MOUNTPT)			=	/dev/mtd4
misc$(MTDPART)			=	$(misc$(PATSIZE))(MISC)
misc$(OTABLK)			=	/dev/mtd4

# miservice
miservice$(RESOURCE)		=	$(OUTPUTDIR)/miservice/config
miservice$(FSTYPE)		=	squashfs
miservice$(OPTIONS)		=	xz
miservice$(PATSIZE)		=	0x490000
miservice$(MOUNTTG)		=	/config
miservice$(MOUNTPT)		=	/dev/mtdblock5
miservice$(MTDPART)		=	$(miservice$(PATSIZE))(miservice)
miservice$(OTABLK)		=	/dev/mtd5

# customer
customer$(RESOURCE)		=	$(OUTPUTDIR)/customer
customer$(FSTYPE)		=	jffs2
customer$(PATSIZE)		=	0x4B0000
customer$(MOUNTTG)		=	/customer
customer$(MOUNTPT)		=	/dev/mtdblock6
customer$(MTDPART)		=	$(customer$(PATSIZE))(customer)
customer$(OTABLK)		=	/dev/mtd6
