IMAGE_LIST			=	fat system
FLASH_TYPE			=	sdmmc

FLASH_BLK_SIZE			=	0x200
FLASH_PG_SIZE			=	0x800
#SD capacity  2GB:0x400000 | 4GB:0x800000 | 8GB:0x1000000 | 16GB:0x2000000 | 32GB:0x4000000 | 64GB:0x8000000
FLASH_BLK_CNT			=	0x800000

ENV_TYPE			=	signal
ENV_CFG				=	/dev/mmcblk0 0x278 0x100

BENCH				=	no
PHY_TEST			=	no

USR_MOUNT_BLOCKS		=	miservice customer

#file size bigger than this need to split
SPLIT_EACH_FILE_SIZE		:=	20971520

#do not support bootlogocmd
bootlogocmd			=

# bootcmd
BOOTCMD_ENV			=	dcache on\; $(kernel$(BOOTCMD)) $(KERNEL_SIGN$(BOOTCMD)) bootm $(KERNELBOOTADDR)\;

#image create config
CNT				=	"CNT"
INDEX				=	"INDEX"


fat$(SYSTAB)			=	ipl ipl_cust uboot

system$(SYSTAB)			=	kernel rootfs miservice customer

ipl$(RESOURCE)			=	$(PROJ_ROOT)/board/$(CHIP)/boot/$(FLASH_TYPE)/ipl/IPL.bin
ipl$(COPIES)			=	1

ipl_cust$(RESOURCE)		=	$(PROJ_ROOT)/board/$(CHIP)/boot/$(FLASH_TYPE)/ipl/IPL_CUST.bin
ipl_cust$(COPIES)		=	1

uboot$(RESOURCE)		=	$(PROJ_ROOT)/board/uboot/$(UBOOT_BIN)
uboot$(COPIES)			=	1

user-fat$(CNT)			=	0x32000
user-fat$(TYPE)			=	FAT32
user-fat$(INDEX)		=	1  # fat partition have to be part1

kernel$(RESOURCE)		=	$(PROJ_ROOT)/kbuild/$(KERNEL_VERSION)/arch/arm/boot/$(KERNEL_BIN)
kernel$(BOOTCMD)		=	fdisk -r 0:$(kernel$(INDEX)) $(KERNELBOOTADDR) 0 $(kernel$(CNT))\;
kernel$(BOOTENV)		=	$(KERNEL_BOOT_ENV)
kernel$(DATASIZE)		=	0xA00000
kernel$(PATSIZE)		=	$(kernel$(DATASIZE))
kernel$(CNT)			=	0xA000
kernel$(INDEX)			=	2

rootfs$(RESOURCE)		=	$(OUTPUTDIR)/rootfs
rootfs$(FSTYPE)			=	ext4
rootfs$(DATASIZE)		=	0x1400000
rootfs$(BOOTENV)		=	console=ttyS0,115200 root=/dev/mmcblk0p3 rootwait rootfstype=ext4 rw init=/linuxrc
rootfs$(CNT)			=	0x64000
rootfs$(INDEX)			=	3

miservice$(RESOURCE)		=	$(OUTPUTDIR)/miservice/config
miservice$(FSTYPE)		=	ext4
miservice$(DATASIZE)		=	0x1400000
miservice$(MOUNTTG)		=	/config
miservice$(MOUNTPT)		=	/dev/mmcblk0p5
miservice$(OPTIONS)		=	ro
miservice$(CNT)			=	0x96000
miservice$(INDEX)		=	5  # skip ext partition 4

customer$(RESOURCE)		=	$(OUTPUTDIR)/customer
customer$(FSTYPE)		=	ext4
customer$(DATASIZE)		=	0x3600000
customer$(MOUNTTG)		=	/customer
customer$(MOUNTPT)		=	/dev/mmcblk0p6
customer$(OPTIONS)		=	rw
customer$(CNT)			=	0x400000
customer$(INDEX)		=	6

SYSTEM_PART_LIST		=	user-fat kernel rootfs miservice customer

EXT4_RESIZE_PAT_LIST		=	/dev/mmcblk0p5 /dev/mmcblk0p6
