# SPDX-License-Identifier: GPL-2.0-only
config SSTAR_SND_SOC
    tristate "Sstar ASoC Support"
    depends on ARCH_SSTAR
    select REGMAP_MMIO
    help
      This adds ASoC driver for SigmaStar SoC.
      that can be used with other codecs.
      Select Y if you have such device.
      If unsure select "N"
