#all image
rsalen=2048

#IPL
ipl_abk=0
ipl_aeskeynum=0
ipl_aeskeylen=128
ipl_IV=IV.bin
sw_debug=0

#IPL_CUST
ipl_cust_abk=0

#tf_a
tf_a_abk=0
tf_a_aes_type=ecb
tf_a_aeskeylen=128
tf_a_aeskeynum=0
tf_a_IV=IV.bin
tf_a_enable=1

#optee
optee_abk=0
optee_aes_type=ecb
optee_aeskeylen=128
optee_aeskeynum=0
optee_IV=IV.bin
optee_enable=1

#vmm
vmm_abk=0
vmm_aes_type=ecb
vmm_aes_enable=1
vmm_aeskeylen=128
vmm_aeskeynum=0
vmm_IV=IV.bin
vmm_enable=1

#uboot
uboot_abk=0
uboot_aes_type=ecb
uboot_aeskeylen=128
uboot_aeskeynum=0
uboot_IV=IV.bin
uboot_enable=1

#kernel
kernel_abk=0
kernel_aes_type=ecb
kernel_aeskeylen=128
kernel_aeskeynum=0
kernel_IV=IV.bin
kernel_enable=1

#rtos
rtos_abk=0
rtos_aes_type=ecb
rtos_aeskeylen=128
rtos_aeskeynum=0
rtos_IV=IV.bin
rtos_enable=1

#other image. and so on
image_aes_type=ecb
image_aeskeylen=128
image_aeskeynum=0
image_IV=IV.bin
image_abk=0
